@tailwind base;
@tailwind components;
@tailwind utilities;



.homepage {
  font-family: "Kanit", serif;
}
/* From Uiverse.io by hamoode-taha-04 */ 
.ui-btn {
  cursor: pointer;
  border-radius: 5px;
  /* color: rgb(219, 218, 218); */
  border-style: solid;
  /* background-color: transparent; */
  border-color: rgb(219, 218, 218);
  width: 90px;
  height: 30px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(247, 247, 247);
  background-color: rgb(202, 25, 25);
}
.ui-btn:hover {
  color: rgb(202, 25, 25);
  background-color: rgb(255, 255, 255);
}
.uis-btn {
  cursor: pointer;
  border-radius: 5px;
  /* color: rgb(219, 218, 218); */
  border-style: solid;
  /* background-color: transparent; */
  border-color: rgb(219, 218, 218);
  width: 90px;
  height: 30px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2px;
  color: rgb(247, 247, 247);
  background-color: rgba(28, 99, 29, 0.836);
}
.uis-btn:hover {
  color: rgb(18, 83, 18);
  background-color: rgb(255, 255, 255);
}


.menu__button {
  min-width: 50px;
  height: 27px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  padding: 1px 5px;
  border: 1px solid #196039;
  background-color: #228b51e8;
  transition: background-color .4s;
}
.menu__button:hover {
  background-color: #228b51e8;
}
.menu__button span {
  color: white;
  line-height: 1;
  transition: color .4s;
}
.menu__button:hover span {
  color: white;
}
.txt {
  position: relative;
  font-weight: 500;
  font-family: "Kanit", serif;
  overflow: hidden;
  background: linear-gradient(90deg, #fff 10%, #228b51e8 20%);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
/* From Uiverse.io by boryanakrasteva */ 
.mouse {
  width: 25px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #196039dd;
  border-radius: 13px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scroll {
  width: 3px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  position: absolute;
  bottom: 9px;
  animation: move_918 1.5s linear infinite;
}

@keyframes move_918 {
  0% {
    bottom: 9px;
  }

  50% {
    bottom: 5px;
  }

  100% {
    bottom: 9px;
  }
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  50% {
    background-position: 500%;
  }
  100% {
    background-position: -700%;
  }
}

.related {
  font-size: 20px;
  font-weight: 600;
  color: #196039;
}
.divimgs {
  background-color: rgba(231, 228, 228, 0.858);
  height: 100px;
  object-fit: contain;
}
.menu__button {
  cursor: pointer;
}
.menu__buttons {
  background-color: #6c757d;
  padding: 0 2px;
  color: white;
  font-size: 13px;
}
.proimgesss {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.menu__buttonss {
  background-color: #6c757d;
  padding: 4px;
  font-size: 13px;
  color: white;
}
.wishlist h4 {
  font-size: 17px;
}
.redwish {
  color: rgb(220, 17, 17);
}
.footer a {
  text-decoration: none;
  color: #196039;
}
.input {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: #196039da;
  justify-content: center;
  border-radius: 5px;
  gap: 7.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.2s ease;
  border: 1px solid #310f446b;
  font-size: 0.9rem;
}
.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: aliceblue;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.value:not(:active):hover,
.active,
.value:focus {
  background-color: #21262cad;
}
.value:focus,
.value:active {
  background-color: #1a1f24;
  outline: none;
}
.value::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: #0a01303f;
  border-radius: 5px;
  opacity: 0;
}
.value:focus::before,
.value:active::before {
  opacity: 1;
}
.value svg {
  width: 15px;
  margin-top: 4px;
}
.value svg.normal {
  width: 15px;
  margin-top: 1px;
}
.reviewheadtext {
  font-size: 18px;
}
.bacgray {
  background-color: rgba(231, 228, 228, 0.858);
  border-radius: 10px;
}
.imagecontentpro {
  order: 0;
}
@media screen and (max-width:576px) {
  .heroContents {
    height: 300px;
  }
  
  .ui-btn {
    cursor: pointer;
    border-radius: 5px;
    /* color: rgb(219, 218, 218); */
    border-style: solid;
    /* background-color: transparent; */
    border-color: rgb(219, 218, 218);
    width: 65px;
    height: 25px;
    transition: 0.2s ease;
    text-transform: uppercase;
    border-width: 2px;
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 2px;
    color: rgb(247, 247, 247);
    background-color: rgb(202, 25, 25);
  }
  .ui-btn:hover {
    color: rgb(202, 25, 25);
    background-color: rgb(255, 255, 255);
  }
  .uis-btn {
    cursor: pointer;
    border-radius: 5px;
    /* color: rgb(219, 218, 218); */
    border-style: solid;
    /* background-color: transparent; */
    border-color: rgb(219, 218, 218);
    width: 65px;
    height: 25px;
    transition: 0.2s ease;
    text-transform: uppercase;
    border-width: 2px;
    font-weight: 500;
    font-size: 7px;
    letter-spacing: 2px;
    color: rgb(247, 247, 247);
    background-color: rgba(28, 99, 29, 0.836);
  }
  .uis-btn:hover {
    color: rgb(18, 83, 18);
    background-color: rgb(255, 255, 255);
  }


  .servicesub p {
    font-size: 9px;
    color: #1960396e;
  }
  .indoorcat {
    height: 200px;
  }
  .value {
    padding: 5px 0;
    font-size: 7px;
  }
  .productcard {
    margin-bottom: 20px;
    padding: 5px;
  }
  .procontents {
    bottom: 20px;
    left: 17px;
  }
  .menu__button {
    font-size: 10px;
  }
  .revvview {
    margin-bottom: 130px;
    padding: 0 50px;
  }
  .reviewpagecontents h3 {
    font-size: 18px;
  }

  .shadow {
    font-size: 10px;
  }
  .heropage {
    background-color: #fff;
  }
  .reviewpagecontents p {
    font-size: 10px;
  }
  .logge {
    height: 100px;
    object-fit: contain;
  }
  .imagecontentpro {
    order: 1;
  }
}